@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;500;600&family=Open+Sans:wght@300&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: 'Changa', 'Open Sans', sans-serif;

}
.stroke{
  color: white;
  text-shadow: -1px -1px 0 rgba(204, 204, 204, 0.5), 1px -1px 0 rgba(204, 204, 204, 0.5), 
  -1px 1px 0 rgba(204, 204, 204, 0.5), 1px 1px 0 rgba(204, 204, 204, 0.5);
}
.box{
  border: 10px solid rgba(2, 175, 206, 0.20);
background: #02AFCE;
}
.rounded-circle{
  border-radius: 62.5rem;
border: 20px solid #F5F5F5;
background: #FE590F;
}



.card-with-background {
  border-bottom: 10px solid #02AFCE;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%),
   url('../assets/images/hero.png'),
    lightgray 20% / cover no-repeat;
}


.slick-next::before{
  color:#02AFCE !important;
}
.slick-prev::before {
color:#02AFCE !important;
}
[dir='rtl'] .slick-prev {
  right: 125px !important;
  top:60px;
  left:1687px !important;
}

[dir='rtl'] .slick-next {
  right: 125px !important;
  left:1637px !important;
  top:60px;

}
